@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(21, 44, 46);
}
/*MAP DISPLAY*/
#map {
  display: flex;
  flex: 1;
  max-width: 2000px;
  height: 95svh;
  margin: 15px 15px;
  margin-left: 0;
}
p {
  margin: 0 !important;
  padding: 0;
  font-size: 15px;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip,
.submit {
  background-color: #152e21 !important;
  color: white !important;
}
.leaflet-popup-content-wrapper {
  position: relative;
  padding-left: 10px !important;
}
.leaflet-popup-content {
  margin: 5px 10px !important;
  margin-left: 25px !important ;
}
.submit {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  top: 0px;
  text-align: center;
  right: -40px;
  z-index: -40;
  width: 120px;
  height: 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.2s all ease-in-out;
}
.submit input {
  width: 80px;
  background-color: rgb(12, 12, 12);
  color: white;
  text-align: center;
  border: 1px solid rgb(216, 216, 216);
}
.submit input::placeholder {
  text-align: center;
  color: rgba(248, 248, 248, 0.582);
}
.submit button {
  padding: 1px 4px;
  color: white;
  background-color: rgb(47, 102, 85);
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  width: 40px;
  transition: 1s all ease-in-out;
}
.run {
  position: absolute;
  left: 5px;
  top: 50%;

  font-size: 18px !important;
  transform: translateY(-50%);
}
.hidden {
  transition: 0.5s all ease-in-out !important;
  display: none !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinner for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/****************************/
/* RUNNING INFO*/
.run-info {
  padding-top: 100px;
  padding-bottom: 40px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95svh;
  margin: 20px 0px;
  margin-left: 10px;
  /* color: #031f0f; */
  background-color: rgb(109, 141, 121);
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  flex: 1;
  max-width: 0px;
  overflow: hidden;
  transition: 0.5s all ease-in-out;
}
.expand {
  max-width: 400px;
}

.title-container {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-cont {
  display: flex;
  flex-direction: row;
  position: relative;
}
.logo {
  width: 60px;
  top: 30%;
  position: absolute;
  left: -50px;
}
.title {
  font-weight: 400;
  color: #e6fff1;
  text-shadow: 0px 0px 2px black;
  font-size: 3rem;
}

/*OVERLAY FOR STARTING*/

.overlay-info {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.041);
  filter: blur(2px);
  z-index: 500;
  transition: 0.3s all ease-in-out !important;
}

.info {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(15, 27, 26, 0.9);
  width: 320px;
  color: white;
  padding: 20px;
  top: 50%;
  left: 50%;
  z-index: 600;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.5s all ease-in-out !important;
}

.info h3 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.info p {
  margin: 10px 0;
  font-size: 16px;
}

.info p strong {
  font-size: 18px;
}

.info p.last {
  margin-top: 20px;
}

.close-tutorial {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/*//////RUNNING STATS CSS*/
.run-info2 {
  width: 100%;
  overflow-y: scroll;
}
.run-info2::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.run-info2::-webkit-scrollbar-track {
  background: #1f421f; /* Color of the scrollbar track */
  border-radius: 5px; /* Rounded corners of the track */
}

.run-info2::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners of the thumb */
}

.run-info2::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

.run-stats {
  position: relative;
  opacity: 0;
  background-color: #1b3125;
  border: 0px solid black;
  border-radius: 1px;
  width: 90%;
  padding: 5px;
  margin: 10px auto;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  transition: 0.3s all ease-in-out !important;
  cursor: pointer;
  padding-top: 25px;
}

.run-stats .stat-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  padding: 5px 0;
}

.run-stats .stat-row:last-child {
  border-bottom: none;
}

.run-stats .stat {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 3px;
}

.run-stats h4 {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}

.run-stats p {
  margin: 0;
  font-size: 16px;
  color: #cacaca;
}
.run-close-icon {
  color: #ac6d6d;
  transition: 0.17s all ease-in-out;
}
.del-bttn:hover .run-close-icon {
  color: rgb(255, 0, 0);
}
.burger-bttn,
.burger-bttn-close {
  display: none;
  z-index: 450;
  position: absolute;
  top: 40px;
  right: 20px;
  cursor: pointer;
}
.burger-bttn-close {
  z-index: 1200;
}

@media (max-width: 1000px) {
  .run-info {
    position: absolute;
    z-index: 1100;
    width: 400px !important;
    right: 10px;
    opacity: 0;
    display: none;
    transition: all 0.3s ease-in-out;
  }
  #map {
    margin: 10px;
  }
  .visible {
    display: flex;
  }
  .burger-bttn,
  .burger-bttn-close {
    opacity: 0;
    display: block;
    transition: 0.3s ease-in-out all;
  }

  .opacity {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
}

.stat-loc {
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: row !important;
}
.stat-loc p {
  color: white;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 167px;
}
.spinner {
  display: inline-block;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .run-info {
    width: 330px !important;
  }
  .stat h4 {
    font-size: 14px;
  }
  .stat p {
    font-size: 14px;
  }
  .stat-loc h4,
  .stat-loc p {
    font-size: 13px;
  }
  .run-stats {
    padding-top: 15px;
  }
}
.del-bttn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 13px;
  right: -8px;
  text-align: center;
  width: 40px;
  font-size: 14px;
  color: #ff0000;
  z-index: 2200;
}

.copy-right {
  position: absolute;
  bottom: 0px;
  left: 50%;
  color: white;
  width: 200px;
  transform: translateX(-50%);
}

.guide-mark {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  bottom: 5px;
  left: 15px;

  z-index: 1000;
  padding-bottom: 10px;
  cursor: pointer;
  border-bottom: 1px solid black;
}

.sort-runs {
  position: absolute;
  display: flex;
  color: #e6fff1;
  /* text-shadow: 0px 0px 2px #e6fff1; */
  top: 70px;
  left: 20px;
  transition: 0.3s all ease-in-out;
  opacity: 0;
}
.sort-runs button {
  width: 40px;
  border: 1px solid #e6fff1;
  cursor: pointer;
  margin-left: 10px;
  background-color: #4b6d5c;
}

.opacity-sort {
  opacity: 1;
}

.run-stats:hover {
  background-color: #2e523e;
}
