@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(21, 44, 46);
}
/*MAP DISPLAY*/
#map {
  display: flex;
  flex: 1;
  max-width: 1700px;
  height: 95svh;
  margin: 15px 15px;
  margin-left: 0;
}
p {
  margin: 0 !important;
  padding: 0;
  font-size: 15px;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip,
.submit {
  background-color: rgb(21, 46, 33) !important;
  color: white !important;
}
.leaflet-popup-content-wrapper {
  position: relative;
}
.leaflet-popup-content {
  margin: 5px 10px !important;
  margin-left: 25px !important ;
}
.submit {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  top: 0px;
  text-align: center;
  right: -40px;
  z-index: -40;
  width: 120px;
  height: 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.2s all ease-in-out;
}
.submit input {
  width: 80px;
  background-color: rgb(12, 12, 12);
  color: white;
  text-align: center;
  border: 1px solid rgb(216, 216, 216);
}
.submit input::placeholder {
  text-align: center;
  color: rgba(248, 248, 248, 0.582);
}
.submit button {
  padding: 1px 4px;
  color: white;
  background-color: rgb(47, 102, 85);
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  width: 40px;
  transition: 1s all ease-in-out;
}
.run {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.hidden {
  display: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinner for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/****************************/
/* RUNNING INFO*/
.run-info {
  display: flex;
  flex-direction: column;
  height: 95svh;
  margin: 20px 0px;
  margin-left: 10px;
  max-width: 400px;
  /* color: #031f0f; */
  background-color: rgb(109, 141, 121);
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  flex: 1;
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-cont {
  display: flex;
  flex-direction: row;
  position: relative;
}
.logo {
  width: 60px;
  top: 30%;
  position: absolute;
  left: -50px;
}
.title {
  font-weight: 400;
  color: rgb(230, 255, 241);
  text-shadow: 0px 0px 2px black;
  font-size: 3rem;
}

/*OVERLAY FOR STARTING*/
/*
.overlay-info {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.041);
  filter: blur(2px);
  z-index: 100;
}
*/

.run0 {
  color: rgb(255, 255, 255);
}
.run1 {
  color: rgb(235, 253, 233);
}
.run2 {
  color: rgb(216, 255, 210);
}
.run3 {
  color: rgb(196, 255, 189);
}
.run4 {
  color: rgb(176, 255, 166);
}
.run5 {
  color: rgb(156, 255, 143);
}
.run6 {
  color: rgb(146, 255, 132);
}
.run7 {
  color: rgb(125, 250, 108);
}
.run8 {
  color: rgb(107, 255, 88);
}
